body{
	background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
    font-family: 'Poppins', serif;
}
header {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.nav_links {
	display: flex;
	flex-direction: column;
	align-items: center;
}
/*#4*/
.nav_items:active {
	color: -webkit-link;
	text-decoration: underline;
}
.card > header {
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0 20px 0;
    border-radius: 50px 50px 0 0;
}
.pricing {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.card {
	flex-basis: 450px;
	border-radius: 50px 50px 0 0;

}
.gallery img {
	border: 10px solid #50C7C7;
	margin: 10px;
	width: 300px;
}
.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#logo {
	display: block;
	margin: 0 auto;
	animation: ani 5s;
	width: 475px;
}
@keyframes ani {
	from {width: 25px; opacity: 0}
	to {width: 475px; opacity: 1}

}
@media screen and (min-width: 900px){
	header {
		flex-direction: row;
		justify-content: start;
		align-items: center;
		position: sticky;
		top: 0;
		width: 100%;
	}
	main header {
		position: static;
	}
	#logo {
		margin-left: 0;
	}
	.nav_links {
		flex-direction: row;
	}
	.pricing {
		justify-content: center;
		align-items: center;
	}
	.card {
		flex-basis: 250px;
	}
}
@media screen and (prefers-reduced-motion: reduce){
	#logo {
	animation: initial;
	}
}
@media print {
	body {
		background-image: none;
		font-family:Arial, Helvetica, sans-serif;
	}
	.nav_links {
		flex-direction: row;
		justify-content: space-around;
	}
	main header {
		flex-direction: row;
	}
	.pricing {
		align-items: flex-end;
		flex-wrap: nowrap;
	}
	main li:nth-child(2)::after {
  		content: "👍";
	}
	.card {
		border: 2px solid #45ADDD;
		flex-basis: 325px;
	}
	#gallery {
		display: none;
	}
	.gallery {
		display: none;
	}

}